h1 { /* change h1 color, font and postion */
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 100px;
}

.subheadline { /* change all h2s white with mathcing font */
    color: white;
    font-family: 'Roboto', sans-serif;

}

.headshot { /* manipulate the photo to a circle and proper size */
    border-radius: 50%;
    height: 600px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flag { /* manipulate the flag image to a circle and the proper size */
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: 50px;
}

.container{ /* container to manipulate the flexbox */
    display: flex;
    justify-content: space-around;
    margin: 10px 0 0 110px;
}



 .carrot { /* changes the bullets to carrots */
    list-style-image: url(32361-carrot-icon.png);
    margin: 5px;
} 

.subheadline--carrotTop { /* center carrot top */
    text-align: center;
}