.logo {
    width: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.navBar--link {
    display: inline-block;
    list-style-type: none;
    margin: 30px 10px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    
    
}

.navBar {
  display: flex;    
  justify-content: flex-end;
  
}

body {
    background-color: black;
}

.navBar--link a {
    text-decoration: none;
    color: white;
}

.active a {
    color: #E67E22;
}