body {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    text-align: center;
}

.birth__list {
    list-style-type: none;
}

.family {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    vertical-align: top;
}

.fampic {
    border-radius: 15%;
    width: 250px;
    height: 250px;
}

.hypotheticalFamily {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    vertical-align: top;
}

.hypoFampic {
    border-radius: 15%;
    width: 250px;
    height: 250px;
}